<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teraim.nils"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:icon="@drawable/logo_moth"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        
        <activity
            android:name=".Main"
            android:label="@string/title_activity_nils" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            
            <activity
            android:name=".SelectRuta"
            android:exported="false"
            android:label="@string/title_select_ruta" >
            <intent-filter>
                <action android:name="com.teraim.nils.SelectRuta" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
            
            <activity
            android:name=".SelectColor"
            android:exported="false"
            android:label="@string/title_select_color" >
            <intent-filter>
                <action android:name="com.teraim.nils.SelectColor" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
            
        <activity
            android:name=".SelectYta"
            android:exported="false"
            android:label="@string/title_select_yta" >
            <intent-filter>
                <action android:name="com.teraim.nils.SelectYta" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MarkslagsActivity"
            android:exported="false"
            android:label="Välj markslag" >
            <intent-filter>
                <action android:name="com.teraim.nils.MarkslagsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.teraim.nils.MarkslagTab_Glaciar_Activity"/>
        <activity
            android:name="com.teraim.nils.MarkslagTab_Akvatisk_Activity"/>		
        <activity
            android:name="com.teraim.nils.MarkslagTab_Anlagd_Activity"/>
        <activity
            android:name="com.teraim.nils.MarkslagTab_SA_Activity"/>	
        <activity
            android:name="com.teraim.nils.FlowEngineActivity"/>        	
        <activity
            android:name="com.teraim.nils.StartMenuActivity"/>        	
       
        <activity
            android:name=".ConfigMenu"
            android:exported="false"
            android:label="@string/title_select_yta" >
            <intent-filter>
                <action android:name="com.teraim.nils.ConfigMenu" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
         <activity
            android:name=".PictureZoom"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog"
            android:label="ZOOM" >
            <intent-filter>
                <action android:name="com.teraim.nils.PictureZoom" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                <activity
            android:name=".TestPic"
            android:exported="false"
            android:label="TestPic" >
            <intent-filter>
                <action android:name="com.teraim.nils.TestPic" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditDelYta"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog"
            android:label="Delyte-definition" >
            <intent-filter>
                <action android:name="com.teraim.nils.EditDelYta" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                <activity
            android:name=".RiktpunktActivity"
            android:exported="false"
            android:label="Sätt riktpunkter" >
            <intent-filter>
                <action android:name="com.teraim.nils.RiktpunktActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
          <activity
            android:name=".RiktpunktListViewActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog"
            android:label="Välj objekt" >
            <intent-filter>
                <action android:name="com.teraim.nils.RiktpunktListViewActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           
              <activity
            android:name=".TestGpsActivity"
            android:exported="false"
            android:label="@string/title_find_area" >
            <intent-filter>
                <action android:name="com.teraim.nils.TestGpsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                <activity
            android:name=".FindAreaActivity"
            android:exported="false"
            android:label="@string/title_find_area" >
            <intent-filter>
                <action android:name="com.teraim.nils.FindAreaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                <activity
            android:name=".HittaYta"
            android:exported="false"
            android:label="@string/title_find_area" >
            <intent-filter>
                <action android:name="com.teraim.nils.HittaYta" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                <activity
            android:name=".TakePicture"
            android:exported="false"
            android:label="@string/title_take_picture" >
            <intent-filter>
                <action android:name="com.teraim.nils.TakePicture" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TakePictureActivity"
            android:exported="false"
            android:label="@string/title_take_picture" >
            <intent-filter>
                <action android:name="com.teraim.nils.TakePictureActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowPic"
            android:exported="false"
            android:label="Show a Picturos" >
            <intent-filter>
                <action android:name="com.teraim.nils.ShowPic" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
       <service
        android:name=".BluetoothRemoteDevice"
        android:label="BluetoothRemoteDevice" >
            <intent-filter>
           <action android:name="com.teraim.nils.StartService" /> 
            </intent-filter> 
    </service>
    </application>

</manifest>