List Entry Name,Variable Name,Entry Label,Action,Variable Label,Variable Type,Variable is Displayed in List,Unit,Show Previous Value,Description
A00010,BuskarData.00.TackDiff,Döda lövbuskar,create,Täckning (D),number,TRUE,%,FALSE,
A00010,BuskarData.00.Tathet,,add,Täthet,number,FALSE,%,FALSE,
A00010,BuskarData.00.Hojd,,add,Höjd högsta individ,number,FALSE,dm,FALSE,
A00020,BuskarData.01.TackDiff,"En, levande",create,Täckning (D),number,TRUE,%,FALSE,
A00020,BuskarData.01.Tathet,,add,Täthet,number,FALSE,%,FALSE,
A00020,BuskarData.01.Hojd,,add,Höjd högsta individ,number,FALSE,dm,FALSE,
A00030,BuskarData.02.TackDiff,"En, död",create,Täckning (D),number,TRUE,%,FALSE,
A00030,BuskarData.02.Tathet,,add,Täthet,number,FALSE,%,FALSE,
A00030,BuskarData.02.Hojd,,add,Höjd högsta individ,number,FALSE,dm,FALSE,
A00040,BuskarData.10.TackDiff,"Viden, delvis",create,Täckning (D),number,TRUE,%,FALSE,
A00040,BuskarData.10.Tathet,,add,Täthet,number,FALSE,%,FALSE,
A00040,BuskarData.10.Hojd,,add,Höjd högsta individ,number,FALSE,dm,FALSE,
A00050,BuskarData.11.TackDiff,Glansvide,create,Täckning (D),number,TRUE,%,FALSE,
A00050,BuskarData.11.Tathet,,add,Täthet,number,FALSE,%,FALSE,
A00050,BuskarData.11.Hojd,,add,Höjd högsta individ,number,FALSE,dm,FALSE,
A00060,BuskarData.12.TackDiff,Rip/Ull/Lappvide,create,Täckning (D),number,TRUE,%,FALSE,
A00060,BuskarData.12.Tathet,,add,Täthet,number,FALSE,%,FALSE,
A00060,BuskarData.12.Hojd,,add,Höjd högsta individ,number,FALSE,dm,FALSE,
A00070,BuskarData.13.TackDiff,Pors,create,Täckning (D),number,TRUE,%,FALSE,
A00070,BuskarData.13.Tathet,,add,Täthet,number,FALSE,%,FALSE,
A00070,BuskarData.13.Hojd,,add,Höjd högsta individ,number,FALSE,dm,FALSE,
A00080,BuskarData.14.TackDiff,Dvärgbjörk,create,Täckning (D),number,TRUE,%,FALSE,
A00080,BuskarData.14.Tathet,,add,Täthet,number,FALSE,%,FALSE,
A00080,BuskarData.14.Hojd,,add,Höjd högsta individ,number,FALSE,dm,FALSE,

